
<!--<img src="assets/images/696.jpg">-->
<h3>Lions Clubs – Where There's A Need, There's A Lion</h3>

<p>Whenever a Lions club gets together, problems get smaller. And communities get better. That's because we help where help is needed – in our own communities and around the world – with unmatched integrity and energy.</p>

<h3>The World's Largest Service Club Organization</h3>

<p>Our 46,000 clubs and 1.4+ million members make us the world's largest service club organization. We're also one of the most effective. Our members do whatever is needed to help their local communities. Everywhere we work, we make friends. With children who need eyeglasses, with seniors who don’t have enough to eat and with people we may never meet.</p>