<!--<img src="assets/images/696.jpg">-->
<div class="row">
    <h1 class="col-md-4 col-md-offset-4">Chubbuck Lions Club</h1>
</div>

<h3>Lions Clubs – Where There's A Need, There's A Lion</h3>

<p>Whenever a Lions club gets together, problems get smaller. And communities get better. That's because we help where help
	is needed – in our own communities and around the world – with unmatched integrity and energy.</p>

<h3>The World's Largest Service Club Organization</h3>

<p>Our 46,000 clubs and 1.4+ million members make us the world's largest service club organization. We're also one of the most
	effective. Our members do whatever is needed to help their local communities. Everywhere we work, we make friends. With
	children who need eyeglasses, with seniors who don’t have enough to eat and with people we may never meet.</p>
<br>
<br>
<hr>

<div class="row">
	<div class="col-md-12">
		<h1 class="pageTitle">Aid for Sight and Hearing</h1>
	</div>
</div>

<h3>Our Mission</h3>

<p>The mission of the Sight and Hearing Preservation, Awareness and Action program is to provide programs and assistance to aid people who have partial or complete loss of sight, and to work to eliminate preventable and reversible blindness.  It is also to demonstrate concern and respect for the dignity and independence of people who have hearing or speech disorders, with the goal of improving their quality of life.</p>

<h3>Contact Us and Apply</h3>

<p>Nothing makes us happier as Lions than helping people overcome their challenges with sight and hearing, and a great deal of our time and resources go towards this initiative.  You can contact the Chubbuck Lions Club by calling John and Loretta Pack at (208) 244-2802.  They will help you to begin the process by scheduling an appointment to meet with us and review the details of your situation so we can better meet your needs.</p>

<hr>


<div class="row">
	<h1 class="col-md-2 col-md-offset-5">WE SERVE</h1>
</div>