<div class="row">
	<div class="col-md-1"></div>
	<div class="col-md-4">
		<form>
			<h2>Register</h2>
			<input type="text" placeholder="first name" ng-model="newUser.firstName">
			<input type="text" placeholder="last name" ng-model="newUser.lastName">
			<input type="text" placeholder="email" ng-model="newUser.email">
			<input type="text" placeholder="password"  ng-model="newUser.password">
			<input type="text" placeholder="confirm password">
		</form>
	</div>
	<div class="col-md-2"></div>
	<div class="col-md-4">
		<form>
			<h2>Login</h2>
			<input type="text" placeholder="email" ng-model="user.email">
			<input type="text" placeholder="password" ng-model="user.password">
		</form>
	</div>
	<div class="col-md-1"></div>
</div>