<div class="row">
	<div class="col-md-12">
		<h1 class="pageTitle">Aid for Sight and Hearing</h1>
	</div>
</div>

<h3>Our Mission</h3>

<p>The mission of the Sight Preservation, Awareness and Action program is to provide programs and assistance to aid people who have partial or complete loss of sight, and to work to eliminate preventable and reversible blindness.  It is also to demonstrate concern and respect for the dignity and independence of people who have hearing or speech disorders, with the goal of improving their quality of life.</p>

<h3>Contact Us and Apply</h3>

<p>Nothing makes us happier as Lions than helping people overcome their challenges with sight and hearing, and a great deal of our time and resources go towards this initiative.  You can contact the Chubbuck Lions Club by calling John and Loretta Pack at (208) 244-2802.  They will help you to begin the process by scheduling an appointment to meet with us and review the details of your situation so we can better meet your needs.</p>

