<h1 class="pageTitle">Team Management</h1>
<!--<p>Test Data: {{ teamData }}</p>-->

<div class="row">
	<div class="col-lg-12">
		<div class="teamGrid" ui-grid="gridOptions" ui-grid-edit></div>
	</div>
</div>

<!--<table class="row">
	<tr style="font-size: 11px">
		<th>Team Name</th>
		<th>Company/Captain</th>
		<th>Division</th>
		<th>Contact Number</th>
		<th>Email</th>
		<th>Player 1</th>
		<th>P1 Email</th>
		<th>shirt size 1</th>
		<th>Player 2</th>
		<th>P2 Email</th>
		<th>shirt size 2</th>
		<th>Player 3</th>
		<th>P3 Email</th>
		<th>shirt size 3</th>
		<th>Player 4</th>
		<th>P4 Email</th>
		<th>shirt size 4</th>
		<th>Creation Date</th>
	</tr>
	<tr ng-repeat="team in teamData" style="font-size: 10px">
		<td>{{ team.teamname }}</td>
		<td>{{ team.company }}</td>
		<td>{{ team.division }}</td>
		<td>{{ team.companynum }}</td>
		<td>{{ team.email }}</td>
		<td>{{ team.member1 }}</td>
		<td>{{ team.player1email }}</td>
		<td>{{ team.shirtsize1 }}</td>
		<td>{{ team.member2 }}</td>
		<td>{{ team.player2email }}</td>
		<td>{{ team.shirtsize2 }}</td>
		<td>{{ team.member3 }}</td>
		<td>{{ team.player3email }}</td>
		<td>{{ team.shirtsize3 }}</td>
		<td>{{ team.member4 }}</td>
		<td>{{ team.player4email }}</td>
		<td>{{ team.shirtsize4 }}</td>
		<td>{{ team.creationdate }}</td>
	</tr>
</table>-->